{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Alugue roupas - Evolution</h1>
    <h2>Olá {{ nome }}</h2>
    <h3>Idade: {{id}}</h3>

    {% if idade >= 18 %}
    <h4>Adulto</h4>

    {% else %}
    <h4>Criança</h4>

    {% endif %}

    <ul>
        <p>Roupas</p>
        {% for roupa in  roupas %}
        <li> {{roupa}} </li>
        {% endfor %}
    </ul>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

    <img class="banner" src="{% static 'images/roupas.jpg' %}" alt="roupas">
{% endblock %}